RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://integratedautosystems.com/$1 [R,L]
RewriteCond %{HTTP_HOST} ^www.integratedautosystems\.com$ [NC]
RewriteRule ^(.*)$ Http://integratedautosystems.com/$1 [R=301,L]